
Anaconda packages/1.JPG
Anaconda packages/2.JPG
Anaconda packages/discrepancy.JPG
Anaconda packages/packages installed.txt
Anaconda packages/tensorflow-gpu-in-jupyter-lab-manual.txt
Datasets/cifake/*
Datasets/cifake.zip
